*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--secondary-color);
}

:root{
    --bg: #141922;
    --secondary-bg: #282828;
    --logo-bg: #080b12;
    --hover: #adff2f;
    --secondary-color: #a8acb3;
    --bars1: #c1c1c1;
    --bars2: #5a5a5a;
    --bg-third: #141922;
}

a{
    text-decoration: none
}

ul{
    list-style: none;
}

.mrg1{
    margin: 0 15px 0;
}

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}



    /* LOGO SIDE */

.nav{
    height: calc(100vh - 90px);
    width: 230px;
    background-color: black;
    position: relative;    
    font-size: .9rem;
}

.nav__list{
    width: 90%;
    margin: 15px 0;
    padding:0 20px;
    position: relative;
}

.nav__sub__list{
    width: 90%;
    margin: 10px auto;
    padding:0 20px;
}

.nav__prg__list{
    display: inline-block;
    margin-left: 15px;
    font-weight: 600;
    vertical-align: middle;
}

.nav__list--active::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background-color: var(--hover)
}

.nav__list__logo{
    width: 100%;
}

.nav__list__logo img{
    width: 70%;
    margin: 20px;
}

.nav__logo--big{
    display: block;
}

.nav__logo--small{
    display: none
}

.nav__list__svg {
    width: 25px;
    aspect-ratio: 1/1;
    vertical-align: middle;
}

.nav__list__svg img{
    width: 100%;
}

.nav__sublist{
    height: 30%;
    overflow-y: scroll;
}

.nav__list__svg--add{
    width: 30px;
    margin-left: 0;
}

.nav__prg__playlist{
    margin: 15px 0;
}

.nav__user{
    width: 100%;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.user-box{
    width: 90%;
    margin: 0 auto;
}

.nav__user__prg{
    padding: 10px 0 10px
}



.fa-user-circle{
    font-size: 2em;
    vertical-align: middle
}



    /* MAIN */

.main{
    width: calc(100% -  230px);
    height: calc(100vh - 90px);
    background-color: var(--bg-third);
    font-size: .75rem;
}

.main__wrapper{
    height: calc(100% - 82px);
    overflow-y: auto;
    padding: 20px;
}

.head{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: var(--logo-bg);
    padding: 20px 25px
}

.btn{
    background-color: rgb(0, 0, 0);
    padding: 10px 30px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid white;
    color: white;
}

.main__nav{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.main__nav__list{
    display: inline-block;
    margin: 5px 10px;
    font-weight: 600;
    position: relative;
    padding: 10px;
    font-size: .85em;
}

.main__list--active::after {
    content: "";
    width: 30px;
    height: 3px;
    background-color: var(--hover);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main__box{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.main__box__card{
    width: calc(95% / 6);
    margin-right: 10px;
}

.main__box__card--round img{
    border-radius: 50%;
}

.main__box__card img{
    width: 100%;
}

.nav--white{
    color: white;
    font-weight: bold;
}

.card__titol,
.card__prg{
    text-align: center;
    margin: 10px;
}

.card__img{
    position: relative;
    width: 100%;
}

.layer{
    position: absolute;
    inset: 0 0 0 0;
    background-color: rgba(20, 25, 34, .6);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    opacity: 0;
}

.main__titol{
    margin: 40px 0 040px 0;
}



    /* FOOTER */

.footer{
    height: 90px;
    width: 100%;
    background-color: var(--secondary-bg);
    display: flex;
    justify-content: space-between;
    font-size: .8rem
}

.foot__brano,
.foot__volume{
    flex: 1 1 100px;
    height: 100%;
    display: flex;
    align-items: center;
}

.foot__img{
    width: 15%;
    min-width: 50px;
    aspect-ratio: 1/1;
    padding-left: 10px;
}

.foot__img img{
    width: 100%
}

.foot__txt{
    padding: 0 10px;
}

.icon{
    display: block;
    padding: 2px;
    font-size: 1.2em
}

.foot__icon{
    padding: 10px;
}

.foot__player{
    flex: 2 1 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.foot__player__section{
    height: 49%;
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.short{
    width: 40%;
    justify-content: center;
    align-items: center;
}

.progress__bar{
    width: 25%;
    height: 5px;
    background-color: var(--bars1);
    border-radius: 10px;
    margin: 0 15px;
    position: relative;
}

.progress__bar--long{
    width: 60%;
}

.progress__bar::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 5px;
    background-color: var(--bars2);
    border-radius: 10px;
}

.foot__volume{
    justify-content: flex-end;
    position: relative;
}

.foot__volume .fas{
    padding: 10px;
}

.box__vertical{
    position: relative;
}

.vertical__volume{
    position: absolute;
    top: -110px;
    left: 50%;
    width: 5px;
    height: 100px;
    background-color: var(--bars1);
    border-radius: 10px;
    transform: translateX(-50%);
    border-radius: 10px;
    opacity: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

.vertical__volume::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 5px;
    height: 30px;
    background-color: var(--bars2);
    border-radius: 10px;
}

.vertical__progress__bar__hover{
    width: 5px;
    height: 40px;
    background-color: rgb(100, 211, 100);
    border-radius: 10px;
    opacity: 1;
    display: flex;
    justify-content: center;
    position: relative;
    opacity: 0;
}

.progress__bar__hover{
    width: 30%;
    height: 5px;
    background-color: rgb(100, 211, 100);
    display: flex;
    align-items: center;
    border-radius: 10px;
    position: relative;
    opacity: 0;
}



    /* SPECIFICITY */

.nav__user__prg > p{
    display: inline-block;
    margin-left: 15px;
}

.main__titol + p{
    margin-bottom: 60px
}

.layer .far{
    color: white
}

.progress__bar__hover .fas{
    position: absolute;
    right: -10px;
}

.vertical__progress__bar__hover .fas{
    position: absolute;
    top: -10px
}

.foot__player__section .fas{
    font-size: 17px;
    padding: 5px;
}

.foot__player__section .far{
    font-size: 30px;
    padding: 10px
}



    /* HOVER */

.btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.nav__prg__list:hover,
.nav__prg__playlist:hover,
.main__nav__list:hover,
.nav__user__prg > p:hover,
.icon:hover{
    color: white;
    cursor: pointer;
}

.foot__player .far:hover{
    transform: scale(1.2);
}

.progress__bar:hover .progress__bar__hover,
.vertical__volume:hover .vertical__progress__bar__hover,
.card__img:hover .layer{
    opacity: 1;
}

.vertical__volume:hover::after,
.progress__bar:hover::after{
    display: none;
}

a:hover{
    text-decoration: underline;
}



    /* MEDIA-QUERY */

@media screen and (max-width: 1000px){
    .main__box{
        flex-wrap: wrap;
        justify-content: flex-start
    }

    .main__box__card{
        width: calc(100% / 4 - 10px);
        margin: 5px;
    }
}

@media screen and (max-width: 800px){
    .main__box{
        flex-wrap: wrap;
        justify-content: flex-start
    }

    .main__box__card{
        width: calc(100% / 2 - 10px);
        margin: 5px;
    }
}

@media screen and (max-width: 575px){

    .main{
        width: calc(100% -  50px);
    }

    .nav__prg__list,
    .nav__prg__playlist,
    .nav__sub__list h2,
    .nav__sub__list,
    .nav__user__prg > p,
    .nav__logo--big,
    .foot__volume > .progress__bar{
        display: none;
    }

    .nav__user__prg{
        text-align: center;
    }

    .nav{
        width: 50px;
    }

    .nav__sub__list,
    .nav__sub__list{
        margin: 15px 0;
    }

    .nav__list{
        padding: 0;
    }

    .nav__list__svg{
        display: block;
        margin: 0 auto;
    }

    .nav__logo--small{
        display: block;
        padding: 0
    }

    .nav__list__logo img{
        width: 70%;
        margin: 20px auto;
        display: block;
    }

    .progress__bar--long{
        width: 100%;
    }

    .foot__icon{
        padding: 20px;
    }

    .box__vertical:hover .vertical__volume{
        opacity: 1
    }
}

@media screen and (max-width: 450px){
    .foot__txt{
        display: none;
    }
}