*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --bg: #141922;
    --secondary-bg: #282828;
    --logo-bg: #080b12;
    --hover: #adff2f;
    --secondary-color: #6f7276;
    --music-bars: #c1c1c1;
}

.mrg1{
    margin: 0 15px 0;
}

.container{
    width: 100%;
    display: flex;
}

    /* LOGO SIDE */

.nav{
    height: calc(100vh - 90px);
    width: 230px;
    background-color: black;
    position: relative;    
    flex-shrink: 0;
}

ul{
    list-style: none;
}

.nav__list{
    width: 90%;
    margin: 15px auto;
    color: white;
}

.nav__list__prg{
    display: inline-block;
    margin-left: 15px;
    font-weight: 600;
    vertical-align: middle;
}

.nav__list--logo img{
    height: 50px;
    margin-bottom: 20px
}

.nav__list__svg {
    width: 12%;
    aspect-ratio: 1/1;
    vertical-align: middle;
}

.nav__list__svg img{
    width: 100%;
}

.nav__sublist{
    height: 30%;
    overflow-y: scroll;
}

.nav__list__svg--add{
    width: 20%;
    margin-left: 0;
}

.nav__prg__playlist{
    margin: 25px 0;
}

.nav__user{
    width: 95%;
    height: 100px;
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.nav__user__prg{
    padding: 10px 0 10px
}

.fa-user-circle{
    font-size: 2em;
    vertical-align: middle
}

.main{
    width: 100%;
    height: calc(100vh - 90px);
    background-color: yellow;
    /* flex-shrink: 0; */
}

.head{
    width: 100%;
    /* height: 50px; */
    display: flex;
    justify-content: flex-end;
    background-color: var(--logo-bg);
    padding: 20px 5px
}

.btn{
    background-color: rgb(0, 0, 0);
    padding: 10px 30px;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid white;
}